* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  scroll-behavior: smooth;
  background-color: #D3D2D0;
  height: 100%;
}

#root {
    font-family: "Baloo 2", sans-serif;
    background-color: #D3D2D0;
    height: 100%;
}

.button {
  background-color: #9498A4;
  color: #BAAE9D;
}
