.productCard {
	background-color: #BAAE9D;
	border: 2px solid #3C3229;
	border-radius: 20px;
}



.button {
	background-color: #3C3229;
	border: 1px solid transparent;
	border-radius: 20px;
	color: #D3D2D0;
}

