.form-label {
	font-weight: 700;
}

.button1 {
	background-color: #3C3229 !important;
	border: 1px solid transparent !important;
	border-radius: 20px !important;
	color: #D3D2D0 !important;
}

.button2 {
	background-color:#BAAE9D !important;
	border: 1px solid transparent !important;
	border-radius: 20px !important;
	color: #D3D2D0 !important;
}

